Student{
               color: red;
               display: block;
               background-color: #222;
               font-family: Cambria;
               text-align: center;
               font-size: xx-large;
               margin: 2%;
}
Name{
               display: block;
}
Enroll{
               display: block;
}
Semester{
               display: block;
}
Module{
               display: block;
}
age{
               display: block;
}